{%if not session.username%}
<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b> <i>sovellukseen</i>!
<form action="/login" method="POST">
    Käyttäjätunnus:
    <input type="text" name="username">
    <input type="submit" value="Kirjaudu">
</form>
{%else%}
Hei, {{session.username}}
{%if session.admin%}
<form action="/tools" method="POST">
    <input type="submit" name="tools" value="Työkalut">
</form>
{%endif%}

<table>

    <tr>
        <th> </th>
        {% for day in days %}
        <th>{{day}}</th>
        {% endfor %}
    </tr>
    {% for time in times %}
    <tr>
        <th>{{time|string+ "-" +(time+1)|string}}</th>
    </tr>
    {% endfor %}

    
</table>
{%endif%}