<!DOCTYPE html>
{%if not session.username%}
<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b> <i>sovellukseen</i>!
<form action="/login" method="POST">
    Käyttäjätunnus:
    <input type="text" name="username">
    <input type="submit" value="Kirjaudu">
</form>
{%else%}
{%set shifts=get_shifts()%}
Hei, {{session.username}}
<a href="/logout">Kirjaudu ulos</a>
{%if session.admin%}
<form action="/tools" method="POST">
    <input type="submit" name="tools" value="Työkalut">
</form>
Lisää työvuoro:
<form action="/add_shift" method="POST">
    <label for="shift_worker">Työntekijä:</label>
    <select name="shift_worker">
    {%for user in users%}
        <option value="{{user}}">{{user}}</option>
    {%endfor%}
    </select>
    <label for="shift_day">Päivä:</label>
    <select name="shift_day">
    {%for day in days%}
        <option value="{{day}}">{{day}}</option>
    {%endfor%}
    </select>
    <label for="shift_time">Aika:</label>
    <select name="shift_time">
    {%for time in times%}
        <option value="{{time}}">{{time}}</option>
    {%endfor%}
    </select>
    <label for="shift_type">Työvuoron tyyppi:</label>
    <select name="shift_type">
    {%for shift_type in shift_types%}
        <option value="{{shift_type}}">{{shift_type}}</option>
    {%endfor%}
    </select>
    <input type="submit"value="Lisää">
</form>

Poista työvuoro:
<form action="/remove_shift" method="POST">
    <label for="shift">Työvuoro:</label>
    <select name="shift">
    {%for shift in shifts%}
        <option value="{{shift}}">{{shift[1]|string+", kello "+shift[0].hour|string+", "+shift[2]|string+", "+shift[3]|string}}</option>
    {%endfor%}
    </select>
    <input type="submit"value="Poista">
</form>
{%endif%}





<table>

    <tr>
        <th> </th>
        {% for day in days %}
        <th>{{day}}</th>
        {% endfor %}
    </tr>
    {% for time in times %}
    <tr>
        <th>{{time|string+ "-" +(time+1)|string}}</th>
        {% for day in days %}
        <th>
            {%for shift in get_shift_data(day,time,shifts)%}
            <div>
                {{shift}}
                
            </div>
            {%endfor%}
        </th>
        {% endfor %}
    </tr>
    {% endfor %}

    
</table>
{%endif%}